body {
  background-color: powderblue;
}
 img{
 background-position: center;
 width:1020px;
height: 150px;
margin:7px auto;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
padding-left:190px;
  
}
  h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
  text-align:center;
  //background-color:DodgerBlue;
  margin:0px;
}
p  {
  color: red;
  font-family: courier;
  font-size: 160%;
  border: 1px solid powderblue;
  padding: 30px;
   margin: 0px;
   
}
#p01 {
  color: blue;
}
p.error {
  color: red;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 120px;
  display: block;
}
input[type=number] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=number]:focus {
  width: 20%;
}
}